<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>	
		<link th:replace="fragments :: head"></link>		
	</head>		
	<body>
<!--header-->	
		<header th:replace="fragments :: header">
			
		</header>
<!--main-->			
		<main>
			<div class="container-sm text-center px-3">
					<h1>Best [[${title}]]</h1>
					<div class="list-group">
						<a 	th:each="element : ${list}" 
						    th:text="|${title} ${element.id+1}|" 
						    th:href="|/${title.toLowerCase()}/${element.id}|" 
						    class="list-group-item list-group-item-action" 
							>
					</div>	
			</div>	
		</main>
<!--footer-->		
		<footer>
			
		</footer>
	</body>
<!--scripts-->		
	<div th:replace="fragments :: scripts"></div>

</html>