<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link>	
		<link th:replace="fragments :: head"></link>		
	</head>		
	<body>
<!--header-->	
		<header th:replace="fragments :: header">
			
		</header>
<!--main-->			
		<main>
			<div class="container-sm text-center px-3">
				<h1>[[${title}]]  is</h1>
				<div class="row justify-content-center">
					<div class="card col-2" style="width: 18rem;">
						 <img th:src="|${image}|" class="card-img-top" alt="Movie image">
						 <div class="card-body">
						  	 <p th:text="${name}"></p>
						 </div>
					</div>
				</div>
			</div>	
		</main>
<!--footer-->		
		<footer>
			
		</footer>
	</body>
<!--scripts-->		
	<div th:replace="fragments :: scripts"></div>


</html>