<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link>	
		<link th:replace="fragments :: head"></link>		
	</head>		
	<body>
<!--header-->	
		<header th:replace="fragments :: header">		
		</header>
<!--main-->			
		<main>
			<div class="container-sm text-center px-3">
				<h1>[[${h1}]]</h1>
				<div th:replace="fragments :: show-details"></div>
			</div>	
		</main>
<!--footer-->		
		<footer>
			
		</footer>
	</body>
<!--scripts-->		
	<div th:replace="fragments :: scripts"></div>

</html>